<h1>Jira Bugs</h1>
<table>
<tr>
<th>ID</th>
<th>Key</th>
<th>Summary</th>
<th>Reporter</th>
</tr>
<% @jira_bugs.each do |jira_bug| %>
	<tr>
	<td><%= jira_bug.jid %></td>
	<td><%= jira_bug.key %></td>
	<td><%= jira_bug.summary %></td>
	<td><%= jira_bug.reporter %></td>
	</tr>
<% end %>

</tr>
</table>