<p>
  <b>Key:</b>
  <%= h @mark.key %>
</p>

<p>
  <b>Value:</b>
  <%= h @mark.value %>
</p>


<%= link_to 'Edit', :controller => :marks, :action => :edit, :id => @mark.id, :product_id => params[:product_id] %> |
<%= link_to 'Back', :controller => :marks, :action => :index, :product_id => params[:product_id] %>