<div class='manage-tbl'>

  <table>
    <tr>
      <th class='content-list-head'>
        Operations
      </th>
      <th class='content-list-head'>
        Task Name
      </th>
      <th class='content-list-head'>
        Total Number Of Packages
      </th>
      <th class='content-list-head'>
        Time Consumed Per Status
      </th>
    </tr>
    <% TaskWorkloadSummary.all(:order => :id).each do |tws| %>
        <tr>
          <td>Detail / Weekly Report</td>
          <td><%= tws.task.name %></td>
          <td><%= tws.total_number_of_packages %></td>
          <td>
            <%
               workload_per_status_in_minutes = JSON.parse(tws.workload_per_status_in_minutes)
               workload_per_status_in_minutes.each do |k,v|
            %>
            <%= render :partial => 'packages/fields/auto_track_time_display', :locals => {:status => Status.find(k), :time_consumed => v, :time_to_add => 0} %><br/>
            <% end %>
          </td>
        </tr>
    <% end %>
  </table>
</div>