<h2>Login</h2>

<div class='manage-tbl'>
  <% form_for(@session) do |f| %>
      <table>
        <tr>
          <td>
            Email
          </td>
          <td>
            <%= f.text_field :email %>
          </td>
        </tr>
        <tr>
          <td>
            Password
          </td>
          <td>
            <%= f.password_field :password %>
          </td>
        </tr>
        <tr>
          <td colspan=2 style="text-align:right;">
            Default password is your Email address. <%= f.submit 'Login' %>
          </td>
        </tr>
      </table>
  <% end %>
</div>
<br/>
