<!--<a href="javascript:void(0);" onclick="renderBzBugLinkEditor('col_bz_id_<%=bz_bug.id%>')">Edit</a> /-->
<a href="javascript:void(0);" onclick="deleteBzBugLink('<%=bz_bug.id%>', '<%=bz_bug.bz_id%>')">Delete</a>