<tr>
  <td align="right">
    <%= f.label :password %>
  </td>
  <td style="text-align: left;">
    <%= f.password_field :password %>
  </td>
</tr>
<tr>
  <td align="right">
    <%= f.label :confirm_password %>
  </td>
  <td style="text-align: left;">
    <%= f.password_field :confirm_password %>
  </td>
</tr>