<h2>Reset Password</h2>

<div class='manage-tbl'>
  <form action="/users/reset_password/-1" method="post">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
    <% f = ActionView::Helpers::FormBuilder.new('task', @user, self, nil, nil) %>
    <%= f.error_messages %>
    <table>
      <%= render :partial => 'users/fields/email', :locals => {:f => f} %>
      <tr>
        <td colspan=2 style="text-align:right;">
          <%= f.submit 'Reset Password' %>
        </td>
      </tr>
    </table>
  </form>
</div>
<br/>
