<% if params[:product_id].blank? %>
    <tr>
      <td>
        Tag
      </td>
      <td>
        <%= f.collection_select :product_id, Product.all(:order => "name"), :id, :name %>
      </td>
    </tr>
<% else %>
    <%= f.hidden_field :product_id, :value => Product.find_by_name(unescape_url(params[:product_id])).id %>
<% end %>
