<p>
  <b>Key:</b>
  <%= h @tag.key %>
</p>

<p>
  <b>Value:</b>
  <%= h @tag.value %>
</p>


<%= link_to 'Edit', :controller => :tags, :action => :edit, :id => @tag.id, :product_id => params[:product_id] %> |
<%= link_to 'Back', :controller => :tags, :action => :index, :product_id => params[:product_id] %>