<h2>Build scheduled</h2>
<div style="height:20px;border:none;"></div>
<div class='manage-tbl'>
    <table>
        <% params[:msg].each do |message| %>
            <tr><td><%= message %></td></tr>
        <% end %>
    </table>
</div>
<br/>
