<h2>Listing Tags</h2>

<div class='manage-tbl'>
  <table>
    <tr>
      <th>Name</th>
      <th>Can Show</th>
      <% if can_manage? %>
          <th>-</th>
      <% end %>
    </tr>

    <% @brew_tags.each do |brew_tag| %>
        <tr>
          <td style="text-align:left;"><%= link_to brew_tag.name, :controller => :brew_tags, :action => :show, :id => escape_url(brew_tag.name) %></td>
		  <td><%=brew_tag.can_show%></td>
          <% if can_manage? %>
              <td><%= link_to 'Edit', :controller => :brew_tags, :action => :edit, :id => escape_url(brew_tag.name) %></td>
          <% end %>
        </tr>
    <% end %>
  </table>
</div>
<br/>

<% if can_manage? %>
    <%= link_to 'New Tag', new_brew_tag_path %>
<% end %>