<tr>
  <td>
    <%= f.label 'Allow non-existent packages to be added to task by regular users?' %>
    <br/>
  </td>
  <td>
    <%= f.check_box :allow_non_existent_pkgs %>
  </td>
</tr>

<tr>
  <td>
    <%= f.label 'Allow non-shipped packages to be added to task by regular users?' %>
    <br/>
  </td>
  <td>
    <%= f.check_box :allow_non_shipped_pkgs %>
  </td>
</tr>
