<% disabled ||= false %>
<input type="hidden" name="setting[use_bz_integration]" value="No"/>
<label><%= check_box_tag("setting[use_bz_integration]", 'Yes', @setting.use_bz_integration?, :disabled => disabled) %> Use BZ integration</label>
