<% disabled ||= false %>
<input type="hidden" name="setting[use_jira_integration]" value='No' />
<label><%= check_box_tag("setting[use_jira_integration]", 'Yes', @setting.use_jira_integration?, :disabled => disabled) %> Use JIRA integration</label>
