<% disabled ||= false %>
<input type="hidden" name="setting[use_mead_integration]" value='No'/>
<label><%= check_box_tag("setting[use_mead_integration]", 'Yes', @setting.use_mead_integration?, :disabled => disabled) %> Use Mead integration</label>
