Cloning in process, please standby...

<div id='div_test'></div>

<% content_for :js do %>
    <script type="text/javascript">

        new Ajax.Request('/actions/process_clone', {
          method: 'get'
        });

		new Ajax.PeriodicalUpdater('div_test', '/actions/check_clone_progress', {
		  method: 'get', frequency: 1, decay: 1,
		  onSuccess:
			function (req){
				var progress = document.getElementById('div_test').innerHTML;
				if (progress == 'Done') {
					window.location = "/products/<%=escape_url(session[:clone_review][:target_tag_name])%>/packages";
				}
			}
		});
	</script>
<% end %>