<tr>
    <td>Type of builds</td>
    <td style="text-align:left;">
        <%= select(:type, 'option', [['wrapper', 'wrapper'],
                                     ['mead', 'mead'],
                                     ['rpm', 'rpm']]) %>
    </td>
</tr>
