<div style="width:100%;text-align:left;">
	<span style="padding-right:20px;"> 
		Tags:
      <% Product.all(:order => 'name', :conditions => "can_show='Yes'").each do |tag| %>
		<%= link_to "#{tag.name}", :controller => :packages, :action => :index, :product_id => escape_url(tag.name), :user => params[:user] %>
          /
		<% end %>
	</span>
</div>
<%= render :partial => 'layouts/line' %>
