Task Group: <%= render :partial => 'layouts/task_group_list' %>
<br/>
<div style="width:100%;text-align:left;">
	<span style="padding-right:20px;"> 
		Tasks:
      <% if session[:task_group_id].blank? %>
          <% Task.all(:order => 'name', :conditions => "can_show='Yes'").each do |task| %>
              <%= render :partial => 'layouts/task_links', :locals => { :task => task, :user => params[:user] } %>
          <% end %>
      <% else %>
        <% TaskGroup.find(session[:task_group_id]).tasks.each do |task| %>
              <%= render :partial => 'layouts/task_links', :locals => { :task => task, :user => params[:user] } %>
        <% end %>
      <% end %>
	</span>
</div>
<%= render :partial => 'layouts/line' %>
